<div class="model-page">
  <div class="tab-list">
    <div hx-get="/model_tabs/model?model_id={{.Model.ObjectId.Hex}}" class="tab-item selected">📋 Business
      Model</div>
    <div hx-get="/model_tabs/tests?model_id={{.Model.ObjectId.Hex}}" class="tab-item">🧪 Validation
      Tests</div>
    <div hx-get="/model_tabs/reviews?model_id={{.Model.ObjectId.Hex}}" class="tab-item">🎙 Reviews</div>
  </div>
  <article class="model">
    <div class="model-bar">
      <h2 class="color-neutral-200" style="flex:1">{{.Model.Name}}</h2>
      <div class="ratings-container">
        <p class="medium color-neutral-400">🧪 {{.Model.TestCount}} tests</p>
        <p class="medium color-neutral-400">🎙 {{.Model.ReviewCount}} reviews</p>
      </div>
    </div>
    <div class="divider"></div>
    <div class="model-companies">
      {{range .Model.Companies}}
      <small class="tag">{{.}}</small>
      {{end}}
    </div>
    <div class="model-contents" id="{{.Model.Flatname}}">
      <div class="divider"></div>
      <div class="model-description">
        {{.Model.Content}}
      </div>
    </div>
  </article>
</div>
