<div class="model-page">
  <div class="tab-list">
    <div hx-get="/model_tabs/model?model_id={{.Model.ObjectId.Hex}}" class="tab-item selected">📋 Business
      Model</div>
    <div hx-get="/model_tabs/tests?model_id={{.Model.ObjectId.Hex}}" class="tab-item">🧪 Validation
      Tests</div>
    <div hx-get="/model_tabs/reviews?model_id={{.Model.ObjectId.Hex}}" class="tab-item">🎙
      Reviews({{.Model.ReviewCount}})
    </div>
  </div>
  <article class="model raw">
    <p class="subheader color-neutral-300">model</p>
    <div class="model-bar">
      <h2>{{.Model.Name}}</h2>
    </div>
    <div class="divider"></div>
    <p class="subheader color-neutral-300">companies</p>
    <div class="model-companies">
      {{range .Model.Companies}}
      <small class="tag">{{.}}</small>
      {{end}}
    </div>
    <div class="divider"></div>
    <div class="model-contents" id="{{.Model.Flatname}}">
      <div class="model-description">
        {{.Model.Content}}
      </div>
    </div>
  </article>
</div>
