<div class="models">
  {{range $model := .Models}}
  <div class="model" _="on click toggle .hide on
      #{{$model.Flatname}}">
    <div class="model-bar">
      <h2>{{.Name}}</h2>
      <div class="ratings-container">
        <h2>🎖 {{.Rating}}</h2>
        <div class="vertical-divider"></div>
        <p class="medium color-neutral-400">👍 {{.RatingsCount}} ratings</p>
        <button class="primary small" style="margin-left:16px">👍 Rate</button>
      </div>
    </div>
    <div class="divider"></div>
    <div class="model-companies">
      {{range .Companies}}
      <small class="tag">{{.}}</small>
      {{end}}
    </div>
    <div class="model-contents hide" id="{{$model.Flatname}}">
      <div class="divider"></div>
      <div class="model-description">
        {{.ParseDescription}}
      </div>
    </div>
  </div>
  {{ end }}
</div>
