<div class="search-tags-container">
  <div class="search-tags">
    <div class="search-tag detail">🔬 Most searched</div>
    <div class="search-tag detail">🧪 Most tested</div>
    <div class="search-tag detail">⚡️ Top rated</div>
    <div class="search-tag detail">🥰️ Most popular</div>
    <div class="search-tag detail">👀 Most recent</div>
    <div class="search-tag detail">🎙 Most talked about</div>
    <div class="search-tag detail">👩‍💻️ Most used</div>
    <div class="search-tag detail">✨ Most rated</div>
  </div>
</div>
