<div class="search-tags-container">
  <div class="search-tags">
    <small class="search-tag">🔬 Most searched</small>
    <small class="search-tag">🧪 Most tested</small>
    <small class="search-tag">⚡️ Top rated</small>
    <small class="search-tag">🥰️ Most popular</small>
    <small class="search-tag">👀 Most recent</small>
    <small class="search-tag">🎙 Most talked about</small>
    <small class="search-tag">👩‍💻️ Most used</small>
    <small class="search-tag">✨ Most rated</small>
  </div>
</div>
