<div class="menu">
  <div class="user-menu-button" _="on click toggle .hide on .user-menu-modal">
    {{if .User.Avatar}}
    <img src="{{.User.Avatar}}" class="avatar" alt="avatar" />
    {{else}}
    <div class="pseudo-avatar">
      <img src="../../assets/user.svg" alt="user avatar" />
    </div>
    {{end}}
    <img src="../../assets/caret-down.svg" class="icon" alt="caret-down" />
  </div>
  <nav class="user-menu-modal hide" _="on mouseleave toggle .hide">
    <div class="menu-section">
      <div class="menu-item subtle-medium">
        <div class="subtle-medium">Signed in as <span style="color:var(--color-primary)">{{.User.Name}}</span></div>
      </div>
    </div>
    <div class="menu-section">
      <a href="/account" class="menu-item subtle-medium">😎 Account</a>
      <a href="/tests" class="menu-item subtle-medium">🧪 Tests</a>
      <a href="/account" class="menu-item subtle-medium">🎙 Reviews</a>
    </div>
    <div class="menu-section">
      <a href="/account" class="menu-item subtle-medium">🧑‍🔧 Settings</a>
      <a href="/account" class="menu-item subtle-medium">🧾 Billing</a>
      <div hx-get="/logout" hx-target="closest .menu" hx-swap="outerHTML" class="menu-item subtle-medium">✌️ Log out</a>
      </div>
  </nav>
</div>
