<div class="models">
  {{range .Models}}
  <article class="model">
    <div class="model-bar">
      <div class="ratings-container" _="on click toggle .hide on #{{.Flatname}}">
        <h2 class="color-neutral-200">{{.Name}}</h2>
        <h2>🧪 {{.TestCount}} tests</h2>
        <p class="medium color-neutral-400">🎙 {{.ReviewCount}} reviews</p>
      </div>
      <button class="secondary" hx-get="/modals/reviews?model_id={{.ObjectId}}" hx-target="body" hx-swap="beforeend">👀
        See reviews</button>
    </div>
    <div class="divider"></div>
    <div class="model-companies">
      {{range .Companies}}
      <small class="tag">{{.}}</small>
      {{end}}
    </div>
    <div class="model-contents hide" id="{{.Flatname}}">
      <div class="divider"></div>
      <div class="model-description">
        {{.ParseDescription}}
      </div>
    </div>
  </article>
  {{ end }}
</div>
