<div class="review-container">
  <img src="{{.User.Avatar}}" alt="avatar" class="avatar">
  <div class="review-comment-container">
    <div class="review-comment-header">
      <div class="subtle-medium color-primary">{{.User.Name}}</div>
    </div>
    <div class="review-comment">
      <form class="comment-form" method="post">
        <p class="color-neutral-50">{{.Review.Comment}}</p>
        <div class="review-user-buttons">
          <button class="secondary" hx-delete="/review">🗑 Remove review</button>
          <button class="secondary" hx-post="/review" hx-target=".reviews" hx-swap="beforebegin">✍️ Edit review</button>
        </div>
      </form>
    </div>
  </div>
</div>
