<a href="/business-model/{{.Flatname}}">
  <article class="model model-card">
    <div class="model-bar">
      <div class="ratings-container">
        <h2 class="color-neutral-200">{{.Name}}</h2>
        <p class="medium color-neutral-300">🧪 {{.TestCount}} tests</p>
        <p class="medium color-neutral-300">🎙 {{.ReviewCount}} reviews</p>
      </div>
    </div>
    <div class="divider"></div>
    <div class="model-companies">
      {{range .Companies}}
      <small class="tag">{{.}}</small>
      {{end}}
    </div>
  </article>
</a>
