<article class="model">
  <div class="model-bar">
    <div class="ratings-container">
      <h2 class="color-neutral-200">{{.Name}}</h2>
      <p class="medium color-neutral-400">🧪 {{.TestCount}} tests</p>
      <p class="medium color-neutral-400">🎙 {{.ReviewCount}} reviews</p>
    </div>
    <div class="model-card-buttons">
      <a href="/business-model/{{.Flatname}}">
        <button class="primary">Go to {{.Name}}</button></a>
    </div>
  </div>
  <div class="divider"></div>
  <div class="model-companies">
    {{range .Companies}}
    <small class="tag">{{.}}</small>
    {{end}}
  </div>
</article>
