<div class="review-container">
  <img src="{{.User.Avatar}}" alt="avatar" class="avatar">
  <div class="review-comment-container">
    <div class="review-comment-header">
      <div class="subtle-medium color-primary">{{.User.Name}}</div>
    </div>
    <div class="review-comment">
      <form class="comment-form" method="post">
        <input type="text" name="model_id" value="{{.Model.ParseObjectId}}" hidden style="display:none">
        <textarea name="comment" class="body" placeholder="Write your review..." rows="6"></textarea>
        <div class="review-action-buttons">
          <button class="secondary" _="on click remove closest .review-container">🙈 Discard review</button>
          <button class="primary" hx-post="/review" hx-target="closest .review-container" hx-swap="outerHTML">📬 Post
            review</button>
        </div>
      </form>
    </div>
  </div>
</div>
