<div class="social-proof">
  <!-- <small class="color-neutral-300">as seen on 👉</small> -->
  <!-- <div class="brands"> -->
  <!--   <img src="https://hyppo-files.fra1.cdn.digitaloceanspaces.com/microsoft.png" alt="microsoft" /> -->
  <!--   <img src="https://hyppo-files.fra1.cdn.digitaloceanspaces.com/microsoft.png" alt="microsoft" /> -->
  <!--   <img src="https://hyppo-files.fra1.cdn.digitaloceanspaces.com/microsoft.png" alt="microsoft" /> -->
  <!--   <img src="https://hyppo-files.fra1.cdn.digitaloceanspaces.com/microsoft.png" alt="microsoft" /> -->
  <!--   <img src="https://hyppo-files.fra1.cdn.digitaloceanspaces.com/microsoft.png" alt="microsoft" /> -->
  <!-- </div> -->
</div>
