{{$human_dates := .HumanDates}}
<div class="container w-[800px] flex flex-col items-start p-4 gap-4">
  <div class="tabs-bar">
    <div class="tab-list-wrapper">
      <div class="tab-list">
        <div hx-get="/tests_tabs/ongoing" class="tab-item selected">🐛 Ongoing tests</div>
        <div hx-get="/tests_tabs/completed" class="tab-item">🦋
          Completed tests</div>
      </div>
    </div>
    <button class="primary" hx-post="/test" hx-target="closest .tests-page" hx-swap="outerHTML">👩‍🔬 New test</button>
  </div>
  {{if .Tests}}
  {{range $index, $test := .Tests}}
  <div class="flex flex-row items-center w-full gap-4">
    <a href="/tests/{{$test.ObjectId.Hex}}">
      <div
        class="flex flex-row justify-between gap-2 w-full bg-hyppo-900 box-border p-3 rounded-md border-hyppo-700 border hover:bg-hyppo-950 hover:border-hyppo-primary">
        <div class="flex flex-row justify-start between gap-2 w-full box-border items-center flex-wrap">
          <h2 class="text-hyppo-200">{{$test.Title}}</h2>
          <p class="text-sm text-hyppo-300">{{(index $human_dates $index).StartDate}}</p>
          <p>👉</p>
          <p class="text-sm text-hyppo-300">{{(index $human_dates $index).EndDate}}</p>
        </div>
        {{if eq $test.Status "private"}}
        <label class="bg-hyppo-800 box-border py-1.5 px-3 detail">Private</label>
        {{else}}
        <label class="bg-hyppo-800 box-border py-1.5 px-3 detail rounded-md h-full">Public</label>
        {{end}}
      </div>
    </a>
    <button class="secondary" hx-target="body" hx-swap="beforeend" hx-get="/modals/submit_result">🫡 Submit
      results</button>
  </div>
  {{end}}
  {{end}}
</div>
