<div class="tests-page">
  <div class="tab-list">
    <div hx-get="/tests_tabs/ongoing" class="tab-item selected">🐛 Ongoing tests</div>
    <div hx-get="/tests_tabs/completed" class="tab-item">🦋
      Completed tests</div>
  </div>
  <article class="model raw">
    <div class="model-bar">
      <div class="test-title">
        <h2 class="color-neutral-200">{{.Test.Title}}</h2>
        <p class="detail">{{.Test.StartDate}} -> {{.Test.EndDate}}</p>
      </div>
      <div class="test-controls">
        <div class="test-control">
          <p>{{.Project.Title}}</p>
        </div>
        <div class="test-control">
          {{if .Test.Private}}
          <p>Private</p>
          {{else}}
          <p>Public</p>
          {{end}}
        </div>
      </div>
    </div>
    <div class="divider"></div>
  </article>
</div>
