<div class="menu">
  <div class="hyppo-menu-button" _="on click toggle .hide on .hyppo-menu-modal">
    <div class="logo">hyppo</div>
    <img src="../../assets/caret-down.svg" alt="caret-down" />
  </div>
  <nav class="hyppo-menu-modal hide" _="on mouseleave toggle .hide">
    <div class="menu-section">
      <a href="https://twitter.com/hyppo__" class="menu-item subtle-medium">🐤 Twitter</a>
      <a href="https://producthunt.com" class="menu-item subtle-medium">🦄 Product Hunt</a>
      <a href="https://reddit.com" class="menu-item subtle-medium">🤖 Reddit</a>
    </div>
    <div class="menu-section">
      <a href="https://twitter.com/hyppo__" class="menu-item subtle-medium">🫡 Services</a>
      <a href="https://producthunt.com" class="menu-item subtle-medium">🧐 Feedback</a>
      <a href="https://reddit.com" class="menu-item subtle-medium">🤑 Pricing</a>
      <a href="https://reddit.com" class="menu-item subtle-medium">👀 About</a>
    </div>
  </nav>
</div>
