<div class="hyppo-menu">
  <div class="hyppo-menu-button" _="on click toggle .hide on .hyppo-menu-modal">
    <div class="logo">hyppo</div>
    <img src="../../assets/caret-down.svg" alt="caret-down" />
  </div>
  <div class="hyppo-menu-modal hide" _="on mouseleave toggle .hide">
    <div class="hyppo-menu-section">
      <div class="hyppo-menu-item subtle-medium">
        <a href="https://twitter.com/hyppo__" class="subtle-medium">🐤 Twitter</a>
      </div>
      <div class="hyppo-menu-item">
        <a href="https://producthunt.com" class="subtle-medium">🦄 Product Hunt</a>
      </div>
      <div class="hyppo-menu-item">
        <a href="https://reddit.com" class="subtle-medium">🤖 Reddit</a>
      </div>
    </div>
    <div class="hyppo-menu-section">
      <div class="hyppo-menu-item subtle-medium">
        <a href="https://twitter.com/hyppo__" class="subtle-medium">🫡 Services</a>
      </div>
      <div class="hyppo-menu-item">
        <a href="https://producthunt.com" class="subtle-medium">🧐 Feedback</a>
      </div>
      <div class="hyppo-menu-item">
        <a href="https://reddit.com" class="subtle-medium">🤑 Pricing</a>
      </div>
      <div class="hyppo-menu-item">
        <a href="https://reddit.com" class="subtle-medium">👀 About</a>
      </div>
    </div>
  </div>
</div>
