<script src="https://accounts.google.com/gsi/client" async defer></script>
<div class="modal-container" _="on closeModal remove me">
  <div class="modal-underlay" _="on click trigger closeModal"></div>
  <div class="welcome-modal" id="welcome-modal">
    <div class="create-account" id="create-account">
      <div class="welcome-message">
        <h3>🥳 Welcome Innovator</h3>
        <p class='subtle color-neutral-400 centered'>Please use the same email address you’ve made your payment with
          to
          login to
          your account.</p>
      </div>
      <form class="email-form" hx-post="/magiclink" hx-target="#create-account" hx-swap="outerHTML">
        <input type="email" class="email-input subtle-medium" name="email" placeholder="Email" />
        <button class="primary" type="submit">🧙‍♀️ Send magic link</button>
      </form>
      <div class="login-divider">
        <div class="divider"></div>
        <p class="detail color-neutral-400">OR CONTINUE WITH</p>
        <div class="divider"></div>
      </div>
      <div id="g_id_onload" data-client_id="1027487422953-t0tvf06vd1p971pdi15kk10tftkng1jo.apps.googleusercontent.com"
        data-context="signin" data-ux_mode="popup" data-login_uri="http://localhost/login/google"
        data-auto_prompt="false" hidden>
      </div>

      <div class="g_id_signin google-button" data-type="standard" data-shape="rectangular" data-theme="filled_black"
        data-text="signin_with" data-size="large" data-logo_alignment="left" data-width="352px">
      </div>
      <p class="detail color-neutral-400" id="terms">By clicking continue, you agree to our <a href="/terms">Terms of
          Service</a> and <a href="/privacy">Privacy
          Policy</a>.
      </p>
    </div>
  </div>
</div>
<script>
  async function googleLogin(response) {
    console.log('response', response);
  }
</script>
