<div class="review-container">
  {{if .User.Avatar}}
  <img src="{{.User.Avatar}}" alt="avatar" class="avatar">
  {{else}}
  <div class="pseudo-avatar">
    <img src="../../assets/user.svg" alt="user avatar" />
  </div>
  {{end}}
  <div class="review-comment-container">
    <div class="review-comment-header">
      <div class="subtle-medium color-primary">{{.User.Name}}</div>
    </div>
    <div class="review-comment">
      <form class="comment-form" method="post">
        <input type="text" name="model_id" value="{{.Model.ObjectId.Hex}}" hidden style="display:none">
        <textarea name="comment" class="comment-input" placeholder="Write a review..." required rows="6"></textarea>
        <div class="review-action-buttons">
          <button class="secondary" hx-get="/review/new?model_id={{.Model.ObjectId.Hex}}"
            hx-target="closest .review-container" hx-swap="outerHTML">🙈 Discard review</button>
          <button class="primary" hx-post="/review" hx-target="next .reviews-array" hx-swap="afterbegin">📬 Post
            review</button>
        </div>
      </form>
    </div>
  </div>
</div>
