:root{
  --color-primary: #E11D48;
  --color-primary-dark: #BE123C;
  --color-primary-darker: #9F1239;
  --color-neutral-50: #FAFAFA;
  --color-neutral-100: #F4F4F5;
  --color-neutral-200: #E4E4E7;
  --color-neutral-300: #D4D4D8;
  --color-neutral-400: #A1A1AA;
  --color-neutral-500: #71717A;
  --color-neutral-600: #52525B;
  --color-neutral-700: #3F3F46;
  --color-neutral-800: #27272A;
  --color-neutral-900: #18181B;
  --color-neutral-1000: #111113;
}
.color-primary{
  color: var(--color-primary);
}
.color-primary-dark{
  color: var(--color-primary-dark);
}
.color-primary-darker{
  color: var(--color-primary-darker);
}
.color-neutral-50{
  color: var(--color-neutral-50);
}
.color-neutral-100{
  color: var(--color-neutral-100);
}
.color-neutral-200{
  color: var(--color-neutral-200);
}
.color-neutral-300{
  color: var(--color-neutral-300);
}
.color-neutral-400{
  color: var(--color-neutral-400);
}
.color-neutral-500{
  color: var(--color-neutral-500);
}
.color-neutral-600{
  color: var(--color-neutral-600);
}
.color-neutral-700{
  color: var(--color-neutral-700);
}
.color-neutral-800{
  color: var(--color-neutral-800);
}
.color-neutral-900{
  color: var(--color-neutral-900);
}
.color-neutral-1000{
  color: var(--color-neutral-1000);
}
.bg-primary{
  background-color: var(--color-primary);
}
.bg-primary-dark{
  background-color: var(--color-primary-dark);
}
.bg-primary-darker{
  background-color: var(--color-primary-darker);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: 'Inter', sans-serif;
  background-color: var(--color-neutral-1000);
  display:flex;
  flex-direction: column;
  align-items: center;
}
body.light-theme {
  background-color: var(--color-neutral-50);
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
*,
input,
button,
textarea,
select {
  font-family: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

footer{
  position: fixed;
  bottom: 0;
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 0px 24px;
  background-color: var(--color-neutral-1000);
  border-top: 1px solid var(--color-neutral-800);
  width: 100%;
}
.light-theme footer{
  background-color: var(--color-neutral-50);
  border-top: 1px solid var(--color-neutral-200);
}
.footer{
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  gap: 12px;
  max-width: 920px;
  width: 100%;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
  width: 100%;
}

.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 24px;
  height: 480px;
  background-image: url("https://hyppo-files.fra1.cdn.digitaloceanspaces.com/hero_background.webp");
  background-size:contain;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 1000px;
  max-width:100%;
  z-index:9;
}
.light-theme .hero{
    background-image: url("https://personal-bucket.fra1.cdn.digitaloceanspaces.com/hero_background_light.png")
}
@media (max-width: 1000px) {
  .hero{
    background-size: cover;
  }
}
.hero-container{
  max-width: 440px;
  filter: drop-shadow(0px 0px 100px rgba(225, 29, 72, 0.6));
}

button {
  cursor: pointer;
  border-radius: 6px;
  outline: none;
  display: inline-block;
  border: none;
  padding: 8px 16px;
  margin: 0;
  text-decoration: none;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  white-space: nowrap;
  box-sizing: border-box;
  box-shadow: none;
}
button:active {
    transform: scale(0.99);
}
button.small{
  padding: 6px 16px;
  height: 32px;
}
button.medium{
  padding: 6px 16px;
}
button.primary {
  background-color: var(--color-primary);
  color: var(--color-neutral-50);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-neutral-50);
}
button.primary:hover {
  background-color: var(--color-primary-dark);
}
button.primary:active{
  background-color: var(--color-primary-darker);
}
button.secondary{
  display:flex;
  background-color: var(--color-neutral-800);
  border: 1px solid var(--color-neutral-700);
  color: var(--color-neutral-50);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  height:36px;
}
button.secondary:hover {
  background-color: var(--color-neutral-700);
}
button.secondary:active{
  background-color: var(--color-neutral-800);
}
.light-theme button.secondary{
  background-color: var(--color-neutral-200);
  border: 1px solid var(--color-neutral-300);
  color: var(--color-neutral-800);
}
.light-theme button.secondary:hover {
  background-color: var(--color-neutral-300);
}
.light-theme button.secondary:active{
  background-color: var(--color-neutral-200);
}
input {
  border-radius: 6px;
  outline: none;
  display: inline-block;
  border: none;
  padding: 8px 16px;
  margin: 0;
  text-decoration: none;
  line-height: 1;
  cursor: pointer;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
} 
input:focus::placeholder {
  color: transparent;
}

span{
  color: var(--color-primary);
}

.subtle-medium {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-neutral-50);
  text-decoration: none;
}
.light-theme .subtle-medium{
  color: var(--color-neutral-900);
}
.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: 12px 16px;
  gap: 16px;
  border: 1px solid var(--color-neutral-700);
  background-color: var(--color-neutral-900);
  max-width: 800px;
  width:100%;
}
.light-theme .banner{
  background-color: var(--color-neutral-50);
  border: 1px solid var(--color-neutral-200);
}
.banner p{
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
p .medium {
  font-weight: 500;
}
p {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-neutral-50);
  display: inline-block;
}
.light-theme p{
  color: var(--color-neutral-900);
}
h1{
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 52px;
  text-align: center;
  letter-spacing: -0.012em;
  color: var(--color-neutral-50);
}
.light-theme h1{
  color: var(--color-neutral-900);
}
h2 {
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-neutral-50);
}
h3{
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: var(--color-neutral-50);
}
.light-theme h2{
  color: var(--color-neutral-900);
}

.navbar {
  background-color: var(--color-neutral-1000);
  padding: 12px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  width:100%;
  border-bottom: 1px solid var(--color-neutral-800);
}
.light-theme .navbar{
  background-color: var(--color-neutral-50);
  border-bottom: 1px solid var(--color-neutral-200);
}
.navbar-inner{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 920px;
  gap:12px;
}
.search-bar{
  flex:1;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: var(--color-neutral-900);
  color: var(--color-neutral-50);
  box-sizing: border-box;
  text-align: center;
  box-shadow:0px 0px 0px 1px var(--color-neutral-700) inset;
  height: 36px;
}
.light-theme .search-bar{
  background-color: var(--color-neutral-100);
  color: var(--color-neutral-900);
  box-shadow:0px 0px 0px 1px var(--color-neutral-300) inset;
}
.search-bar::placeholder{
  color: var(--color-neutral-200);
}
.light-theme .search-bar::placeholder{
  color: var(--color-neutral-800);
}
.search-bar:focus{
  box-shadow:0px 0px 0px 1px var(--color-neutral-600) inset
}
.light-theme .search-bar:focus{
  box-shadow:0px 0px 0px 1px var(--color-neutral-400) inset
}
.logo{
  font-family: 'Lily Script One';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: var(--color-primary);
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.hyppo-menu-button {
  display:flex;
  flex-direction: row;
  cursor: pointer;
  border-radius: 6px;
}
.hyppo-menu-button:hover{
  background-color: var(--color-neutral-900);
  cursor: pointer;
}
.light-theme .hyppo-menu-button:hover{
  background-color: var(--color-neutral-100);
  cursor: pointer;
}
.search-tags-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-tags{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 4px;
  flex-wrap: wrap;
  max-width: 600px;
  padding: 16px 0px;
}
.search-tag{
  display: flex;
  padding: 4px 10px;
  background-color: var(--color-neutral-900);
  border: 1px solid var(--color-neutral-700);
  color: var(--color-neutral-50);
  border-radius: 6px;
}
.light-theme .search-tag{
  background-color: var(--color-neutral-100);
  border: 1px solid var(--color-neutral-300);
  color: var(--color-neutral-900);
}
.search-tag:hover{
  background-color: var(--color-neutral-800);
  cursor: pointer;
}
.light-theme .search-tag:hover{
  background-color: var(--color-neutral-200);
  cursor: pointer;
}
.search-tag:active{
  background-color: var(--color-neutral-1000);
}
.light-theme .search-tag:active{
  background-color: var(--color-neutral-50);
}

small{
  font-family:inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  white-space: nowrap;
}

.hyppo-menu-modal {
  position: absolute;
  top: 44px;
  left: -8px;
  display:flex;
  flex-direction: column;
  background-color: var(--color-neutral-900);
  border: 1px solid var(--color-neutral-700);
  border-radius: 6px;
  width: 172px;
}
.light-theme .hyppo-menu-modal{
  background-color: var(--color-neutral-50);
  border: 1px solid var(--color-neutral-300);
}

.menu {
  position:relative;
  display:flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.user-menu-button {
  display:flex;
  flex-direction: row;
  border-radius: 20px;
}
.user-menu-button:hover{
  background-color: var(--color-neutral-900);
  cursor: pointer;
}
.light-theme .user-menu-button:hover{
  background-color: var(--color-neutral-100);
  cursor: pointer;
}
.user-menu-button.avatar{
  height: 40px;
  width: 40px;
}
.user-menu-button.icon{
  height: 24px;
  width: 24px;
}
.user-menu-modal {
  position: absolute;
  top: 44px;
  right: -8px;
  display:flex;
  flex-direction: column;
  background-color: var(--color-neutral-900);
  border: 1px solid var(--color-neutral-700);
  border-radius: 6px;
  width: 172px;
}
.light-theme .user-menu-modal{
  background-color: var(--color-neutral-50);
  border: 1px solid var(--color-neutral-200);
}
.menu-section {
  display:flex;
  flex-direction: column;
  padding: 6px;
}
.menu-section:not(:last-child) {
  border-bottom: 1px solid var(--color-neutral-800);
}
.light-theme .menu-section:not(:last-child) {
  border-bottom: 1px solid var(--color-neutral-200);
}
.menu-item {
  padding: 6px 8px;
  border-radius: 6px;
}
.menu-item.a{
  color: var(--color-neutral-300);
}
.menu-item:hover {
  background-color: var(--color-neutral-800);
  cursor: pointer;
}
.light-theme .menu-item:hover {
  background-color: var(--color-neutral-200);
  cursor: pointer;
}
.avatar {
  height: 40px;
  border-radius: 50%;
}
.models{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  max-width: 800px;
  padding: 0px 24px;
  margin-bottom:12px;
}
.model{
  display:flex;
  flex-direction: column;
  padding: 16px;
  background-color: var(--color-neutral-900);
  border: 1px solid var(--color-neutral-700);
  border-radius: 6px;
  gap: 16px;
  width: 100%;
  max-width: 800px;
}
.light-theme .model{
  background-color: var(--color-neutral-100);
  border: 1px solid var(--color-neutral-300);
}
.model-bar {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.divider {
  width: 100%;
  height: 0px;
  border-bottom: 1px solid var(--color-neutral-800);
}
.light-theme .divider {
  border-bottom: 1px solid var(--color-neutral-200);
}
.ratings-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:12px;
  width: 100%;
}
.vertical-divider{
  width: 24px;
  height: 0px;
  border: 1px solid var(--color-neutral-800);
  transform: rotate(90deg);
}
.light-theme .vertical-divider{
  border: 1px solid var(--color-neutral-200);
}
.model-companies{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;
}
.model-description{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
}
.tag{
  display: flex;
  padding: 4px 10px;
  background-color: var(--color-neutral-800);
  color: var(--color-neutral-50);
  border-radius: 6px;
}
.light-theme .tag{
  background-color: var(--color-neutral-200);
  color: var(--color-neutral-900);
}
.social-proof{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  box-sizing: border-box;
}
.brands {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}
.brands img {
  height:20px;
  width:100px;
}

.hide {
  display:none;
  position: relative;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-neutral-700);
  -webkit-transition: .2s;
  transition: .2s;
}
.light-theme .slider {
  background-color: var(--color-neutral-300);
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}
input:checked + .slider {
  background-color: var(--color-primary);
}
input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}
.slider.round {
  border-radius: 24px;
}
.slider.round:before {
  border-radius: 50%;
}
.modal-container{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height:100%;
  z-index: 99;
}
.modal-underlay{
  position: absolute;
  width: 100%;
  height:100%;
  z-index: -1;
  background: rgba(19, 17, 16, 0.1);
  backdrop-filter: blur(14px);
  scroll-behavior: none;
}
.welcome-modal{
  position:absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-neutral-1000);
  border: 1px solid var(--color-neutral-700);
  border-radius: 6px;
  max-width: 1000px;
  overflow: hidden;
  padding:24px;
}
@media (max-width: 768px) {
  .welcome-modal{
    padding: 16px;
  }
}
@media (max-width: 360px) {
  .welcome-modal{
    flex-direction: column;
    padding: 0px;
  }
}
.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height:100%;
}
.create-account{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  flex:1;
  max-width: 400px;
  padding: 24px;
  box-sizing: border-box;
  text-align: center;
  text-justify: center;
}
.welcome-message{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 100%;
}
.check-email{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  flex:1;
  max-width: 400px;
  padding: 24px;
  box-sizing: border-box;
  text-align: center;
  text-justify: center;

}
.email-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
}
.email-input{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-neutral-900);
  color: var(--color-neutral-50);
  box-sizing: border-box;
  text-align:left;
  box-shadow:0px 0px 0px 1px var(--color-neutral-700) inset;
  height: 36px;
}
#google-icon{
  width: 20px;
  height: 20px;
}
.email-form button,a{
  width:100%;
  align-items:center;
  justify-content:center;
  flex:1;
}
#google-button{
  width:100%;
  flex:1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:8px;
}
.detail{
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.login-divider{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  width: 100%;
}
.login-divider p{
  white-space: nowrap;
}
#terms{
  max-width:240px;
}

.skeleton {
	background-color: var(--color-dark);
	background-image: linear-gradient(
		90deg,
		var(--color-neutral-1000),
		var(--color-neutral-900),
		var(--color-neutral-1000)
	);
	background-size: 200px 100%;
	background-repeat: no-repeat;
	display: inline-block;
	width: 100%;
  height: 600px;
	animation: skeleton 1.2s ease-in-out infinite;
}

@keyframes skeleton {
	0% {
		background-position: -200px 0;
	}
	100% {
		background-position: calc(200px + 100%) 0;
	}
}

#terms a{
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}

.reviews-modal{
  display: flex;
  max-width: 920px;
  width:90%;
  height:90vh;
  padding: 6px 20px;
  padding-top:0px;
  flex-direction: column;
  border-radius: 6px;
  border: 1px solid var(--color-neutral-700);
  background: var(--color-neutral-900);
  overflow-y: scroll;
  box-sizing: border-box;
}
.reviews-modal-header{
  position:sticky;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  padding: 12px 0px;
  border-bottom: 1px solid var(--color-neutral-800);
  top:0px;
  background: var(--color-neutral-900);
}
.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 12px 0px;
}
.review-container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  border-bottom: 1px solid var(--color-neutral-800);
  padding: 12px;
}
.review-container img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.review-comment-container{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.review-action-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.review-action-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.review-comment-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

textarea{
  width: 100%;
  background-color: var(--color-neutral-1000);
  color: var(--color-neutral-50);
  box-sizing: border-box;
  text-align:left;
  padding:12px;
  border-radius: 6px;
  resize: none;
  border: 1px solid var(--color-neutral-700);
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
textarea:active{
  outline: none;
}
textarea:focus{
  outline: none;
}

.comment-form{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  gap:12px;
}

.review-user-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 100%;
  justify-content: flex-end;
}

.google-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 100%;
  justify-content: center;
  background-color: var(--color-neutral-800);
  color: var(--color-neutral-50);
  box-sizing: border-box;
  text-align:left;
  padding:12px;
  border-radius: 6px;
  border: 1px solid var(--color-neutral-700);
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
}

.pseudo-avatar{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--color-neutral-1000);
  border: 1px solid var(--color-neutral-700);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.pseudo-avatar img {
  width:20px;
  height:20px;
}
.loading{
  position:absolute;
}

.not-found{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 16px;
  max-width: 600px;
  width:90%;
  padding: 24px;
  border-radius: 6px;
}
.not-found p,h3,textarea{
  align-self: stretch;
  text-align:start;
}
